stapler-plugin/src/main/resources/org/kohsuke/stapler/netbeans/plugin/jelly-schemas/log.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="jelly:log" elementFormDefault="qualified">
  <xsd:annotation>
    <xsd:documentation>
      <p>Custom tags for generating textual logging information using
        <a href="http://commons.apache.org/logging/">commons-logging</a> which will use either log4j, logkit or JDK1.4 loggingdepending on the classpath and configuration.
      </p>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:element name="error">
    <xsd:annotation>
      <xsd:documentation>A tag which generates ERROR level logging statement usingthe given category name.
        <authortag>&lt;a href="mailto:jstrachan@apache.org"&gt;James Strachan&lt;/a&gt;</authortag>
        <versiontag>$Revision: 480468 $</versiontag>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="true">
      <xsd:sequence>
        <xsd:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="name">
        <xsd:annotation>
          <xsd:documentation>Sets the name of the logger to use</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="log">
        <xsd:annotation>
          <xsd:documentation>Sets the Log instance to use for logging.</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="encode">
        <xsd:annotation>
          <xsd:documentation>Sets whether the body of the tag should be encoded as text (so that &lt;and &gt;areencoded as &amp;lt; and &amp;gt;) or leave the text as XML which is the default.</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="trim">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="tagLib">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="escapeText">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="trace">
    <xsd:annotation>
      <xsd:documentation>A tag which generates TRACE level logging statement usingthe given category name.
        <authortag>&lt;a href="mailto:jstrachan@apache.org"&gt;James Strachan&lt;/a&gt;</authortag>
        <versiontag>$Revision: 480468 $</versiontag>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="true">
      <xsd:sequence>
        <xsd:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="name">
        <xsd:annotation>
          <xsd:documentation>Sets the name of the logger to use</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="log">
        <xsd:annotation>
          <xsd:documentation>Sets the Log instance to use for logging.</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="encode">
        <xsd:annotation>
          <xsd:documentation>Sets whether the body of the tag should be encoded as text (so that &lt;and &gt;areencoded as &amp;lt; and &amp;gt;) or leave the text as XML which is the default.</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="trim">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="tagLib">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="escapeText">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="info">
    <xsd:annotation>
      <xsd:documentation>A tag which generates INFO level logging statement usingthe given category name.
        <authortag>&lt;a href="mailto:jstrachan@apache.org"&gt;James Strachan&lt;/a&gt;</authortag>
        <versiontag>$Revision: 480468 $</versiontag>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="true">
      <xsd:sequence>
        <xsd:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="name">
        <xsd:annotation>
          <xsd:documentation>Sets the name of the logger to use</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="log">
        <xsd:annotation>
          <xsd:documentation>Sets the Log instance to use for logging.</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="encode">
        <xsd:annotation>
          <xsd:documentation>Sets whether the body of the tag should be encoded as text (so that &lt;and &gt;areencoded as &amp;lt; and &amp;gt;) or leave the text as XML which is the default.</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="trim">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="tagLib">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="escapeText">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="debug">
    <xsd:annotation>
      <xsd:documentation>A tag which generates DEBUG level logging statement usingthe given category name.
        <authortag>&lt;a href="mailto:jstrachan@apache.org"&gt;James Strachan&lt;/a&gt;</authortag>
        <versiontag>$Revision: 480468 $</versiontag>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="true">
      <xsd:sequence>
        <xsd:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="name">
        <xsd:annotation>
          <xsd:documentation>Sets the name of the logger to use</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="log">
        <xsd:annotation>
          <xsd:documentation>Sets the Log instance to use for logging.</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="encode">
        <xsd:annotation>
          <xsd:documentation>Sets whether the body of the tag should be encoded as text (so that &lt;and &gt;areencoded as &amp;lt; and &amp;gt;) or leave the text as XML which is the default.</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="trim">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="tagLib">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="escapeText">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="fatal">
    <xsd:annotation>
      <xsd:documentation>A tag which generates FATAL level logging statement usingthe given category name.
        <authortag>&lt;a href="mailto:jstrachan@apache.org"&gt;James Strachan&lt;/a&gt;</authortag>
        <versiontag>$Revision: 480468 $</versiontag>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="true">
      <xsd:sequence>
        <xsd:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="name">
        <xsd:annotation>
          <xsd:documentation>Sets the name of the logger to use</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="log">
        <xsd:annotation>
          <xsd:documentation>Sets the Log instance to use for logging.</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="encode">
        <xsd:annotation>
          <xsd:documentation>Sets whether the body of the tag should be encoded as text (so that &lt;and &gt;areencoded as &amp;lt; and &amp;gt;) or leave the text as XML which is the default.</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="trim">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="tagLib">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="escapeText">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="warn">
    <xsd:annotation>
      <xsd:documentation>A tag which generates WARN level logging statement usingthe given category name.
        <authortag>&lt;a href="mailto:jstrachan@apache.org"&gt;James Strachan&lt;/a&gt;</authortag>
        <versiontag>$Revision: 480468 $</versiontag>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="true">
      <xsd:sequence>
        <xsd:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="name">
        <xsd:annotation>
          <xsd:documentation>Sets the name of the logger to use</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="log">
        <xsd:annotation>
          <xsd:documentation>Sets the Log instance to use for logging.</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="encode">
        <xsd:annotation>
          <xsd:documentation>Sets whether the body of the tag should be encoded as text (so that &lt;and &gt;areencoded as &amp;lt; and &amp;gt;) or leave the text as XML which is the default.</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="trim">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="tagLib">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="escapeText">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
