stapler-plugin/src/main/resources/org/kohsuke/stapler/netbeans/plugin/jelly-schemas/sql.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="jelly:sql" elementFormDefault="qualified">
  <xsd:annotation>
    <xsd:documentation>
      <p>The SQL Tags from the JSTL</p>
      <p>There are some examples of these tags in action 
        <a href="http://cvs.apache.org/viewcvs.cgi/jakarta-commons/jelly/jelly-tags/sql/src/test/org/apache/commons/jelly/tags/sql/">here</a>
      </p>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:element name="transaction">
    <xsd:annotation>
      <xsd:documentation>
        <p>Tag handler for &lt;Transaction&gt;in JSTL.</p>
        <authortag>Hans Bergsten</authortag>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="true">
      <xsd:sequence>
        <xsd:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="dataSource">
        <xsd:annotation>
          <xsd:documentation>Sets the SQL DataSource. DataSource can bea String or a DataSource object.</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="isolation">
        <xsd:annotation>
          <xsd:documentation>Sets the transaction isolation level.</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="trim">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="tagLib">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="escapeText">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="setDataSource">
    <xsd:annotation>
      <xsd:documentation>
        <p>Tag handler for &lt;SetDataSource&gt;in JSTL, used to createa simple DataSource for prototyping.</p>
        <authortag>Hans Bergsten</authortag>
        <authortag>Justyna Horwat</authortag>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="true">
      <xsd:sequence>
        <xsd:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="scope">
        <xsd:annotation>
          <xsd:documentation>Sets the scope of the variable to hold theresult.</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="var">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="dataSource">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="driver">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="url">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="user">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="password">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="trim">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="tagLib">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="escapeText">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="param">
    <xsd:annotation>
      <xsd:documentation>
        <p>Tag handler for &lt;Param&gt;in JSTL, used to setparameter values for a SQL statement.</p>
        <authortag>Hans Bergsten</authortag>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="true">
      <xsd:sequence>
        <xsd:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="value">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="trim">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="tagLib">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="escapeText">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="update">
    <xsd:annotation>
      <xsd:documentation>
        <p>Tag handler for &lt;Update&gt;in JSTL.</p>
        <authortag>Hans Bergsten</authortag>
        <authortag>Justyna Horwat</authortag>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="true">
      <xsd:sequence>
        <xsd:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="var">
        <xsd:annotation>
          <xsd:documentation>Sets the name of the variable to hold theresult.</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="scope">
        <xsd:annotation>
          <xsd:documentation>Sets the scope of the variable to hold theresult.</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="dataSource">
        <xsd:annotation>
          <xsd:documentation>Sets the SQL DataSource. DataSource can bea String or a DataSource object.</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="sql">
        <xsd:annotation>
          <xsd:documentation>Sets the SQL statement to use for thequery. The statement may contain parameter markers(question marks, ?). If so, the parameter values mustbe set using nested value elements.</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="trim">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="tagLib">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="escapeText">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="row">
    <xsd:annotation>
      <xsd:documentation>Adds a new row to a parent &lt;resultSet&gt;Tag.This tag is useful for unit testing with Mock Tags to simulate the results returned by databases.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="true">
      <xsd:sequence>
        <xsd:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="trim">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="tagLib">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="escapeText">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="dateParam">
    <xsd:annotation>
      <xsd:documentation>
        <p>Tag handler for &lt;Param&gt;in JSTL, used to setparameter values for a SQL statement.</p>
        <authortag>Justyna Horwat</authortag>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="true">
      <xsd:sequence>
        <xsd:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="value">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="type">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="trim">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="tagLib">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="escapeText">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="query">
    <xsd:annotation>
      <xsd:documentation>
        <p>Tag handler for &lt;Query&gt;in JSTL.</p>
        <authortag>Hans Bergsten</authortag>
        <authortag>Justyna Horwat</authortag>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="true">
      <xsd:sequence>
        <xsd:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="startRow">
        <xsd:annotation>
          <xsd:documentation>The index of the first row returned can bespecified using startRow.</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="maxRows">
        <xsd:annotation>
          <xsd:documentation>Query result can be limited by specifyingthe maximum number of rows returned.</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="var">
        <xsd:annotation>
          <xsd:documentation>Sets the name of the variable to hold theresult.</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="scope">
        <xsd:annotation>
          <xsd:documentation>Sets the scope of the variable to hold theresult.</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="dataSource">
        <xsd:annotation>
          <xsd:documentation>Sets the SQL DataSource. DataSource can bea String or a DataSource object.</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="sql">
        <xsd:annotation>
          <xsd:documentation>Sets the SQL statement to use for thequery. The statement may contain parameter markers(question marks, ?). If so, the parameter values mustbe set using nested value elements.</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="trim">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="tagLib">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="escapeText">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="driver">
    <xsd:annotation>
      <xsd:documentation>
        <p>Tag handler for &lt;Driver&gt;in JSTL, used to createa simple DataSource for prototyping.</p>
        <authortag>Hans Bergsten</authortag>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="true">
      <xsd:sequence>
        <xsd:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="driver">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="jdbcURL">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="scope">
        <xsd:annotation>
          <xsd:documentation>Sets the scope of the variable to hold theresult.</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="userName">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="var">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="trim">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="tagLib">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="escapeText">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="resultSet">
    <xsd:annotation>
      <xsd:documentation>This Tag creates a result set object based on its body content via child row tags.This tag is useful for unit testing with Mock Tags to simulate the results returned by databases.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="true">
      <xsd:sequence>
        <xsd:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="var">
        <xsd:annotation>
          <xsd:documentation>Sets the variable to export the result set to.</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="trim">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="tagLib">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="escapeText">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
